[submodule "third_party/live555"]
	path = third_party/live555
	url = https://github.com/kgbook/live555.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
